body {
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: whitesmoke;
}

.main {
  grid-area: main;
  background-color: white;
}

/* flexing header and footer*/
.header {
  align-items: center;
  justify-content: space-between;
  color: darkblue;
  padding: 10px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: darkblue;
  padding: 0 20px;
}

/* Layout for main content overview  and its cards*/
.main_overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid lightgreen;
}
.overview_card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: seagreen; */
  height: 100px;
  border: 1px solid darkblue;
  border-radius: 4px;
  color: darkblue;
}
/* Layout for main-cards section // below main_overview */
.main_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px 400px 400px;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4";
  grid-gap: 10px;
}
.card {
  padding: 20px;
  border: 1px solid tomato;
  border-radius: 4px;
  color: tomato;
}

.card:first-child {
  grid-area: card1;
}
.card:nth-child(2) {
  grid-area: card2;
}
.card:nth-child(3) {
  grid-area: card3;
}
.card:nth-child(4) {
  grid-area: card4;
}

/* responsive layout */
@media only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
    height: 100vh;
  }

  .main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 400px 400px;
    grid-template-areas:
      "card1 card3"
      "card2 card4";
    grid-gap: 10px;
  }
}
.bar1 {
  fill: aqua;
}
.bar2 {
  fill: deepskyblue;
}
.bar3 {
  fill: steelblue;
}
.bar:hover {
  fill: orange;
}
.line {
  fill: none;
  stroke: royalblue;
  stroke-width: 3;
}
.dot {
  fill: royalblue;
  /* stroke: royalblue; */
  opacity: 0.9;
}
.dot:hover {
  fill: orange;
}
.selected {
  fill: orange;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
